<div id="<%= dom_id answer %>">
  <p>
    <strong>Text:</strong>
    <%= answer.text %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= answer.answer_likes.count %> <%= (answer.answer_likes.count) == 1 ? 'Like' : 'Likes'%>
  </p>
</div>
